{
    "plugins": [
      ["prismjs", {
          "languages": ["javascript", "css", "markup", "clike", "toml", "yaml", "java", "go", "python", "kotlin", "rust"],
          "plugins": ["line-numbers"],
          "theme": "twilight",
          "css": true
      }]
    ]
  }