<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.1/styles/default.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paste {{id}} - {{siteName}}</title>
</head>
<body>
    <pre><code class="language-{{language}}">{{{highlightedPaste}}}</code></pre>
</body>
</html>