<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/themes/prism.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paste {{id}} - {{siteName}}</title>
</head>
<body>
    <pre><code class="language-{{language}}">{{{highlightedPaste}}}</code></pre>
</body>
</html>